label {
	place-self: center;
	width: 50px;
	height: 35px;
	border: 0;
	border-top: 5px solid hsl(0, 0%, 100%);
	border-bottom: 3px;
	background-color: transparent;
	position: relative;
	cursor: pointer;
}

label::before,
label::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	border-top: 5px solid hsl(0, 0%, 100%);
	transform: translateY(10px);
}

label::after {
	transform: translateY(25px);
}
header {
	padding: 1rem;
	width: 100%;
}

.nav__menu {
	background-color: rgb(44, 44, 44);
	display: flex;
	justify-content: space-between;
}

.nav__list,
.nav__btn {
	display: none;
}
.nav__link {
	text-decoration: none;
}

.app__content{
    background-image: url('../images/banner/banner.png');
}

.app__heading{
	color: rgb(228, 250, 254);
}

.app__request{
	color:rgb(219, 241, 252);
}
.app__btn{
	border:none;
	background-color: rgb(55, 235, 237);
	color:rgb(255, 255, 255);
	padding:0.5rem 2rem;
	border-radius:.3rem;
	margin:1rem;
	cursor:pointer;
	letter-spacing: 1px;;
}