.app__container{
    display:flex;
}

.app__content{
    align-self: flex-start;
    margin-top:4rem;
    padding:1rem
}

.applab__content{
    display:flex;
    flex-direction: row;
}

.card{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:20px;
} 

.AppLab{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:1rem;
}

.features{
    display:flex;
}

.features__img{
    align-self: center;
}